<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title #{titulo} | #{pagina}
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:wght@400;700&family=Staatliches&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')
        link(rel="stylesheet", href="/css/style.css")


        

    body(class=clase)
    include includes/header
    block slider
    block contenido
    include includes/footer